* {
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-weight: 100;
  margin: 0;
}

table {
  border-collapse: collapse;
}

thead tr {
  margin: 0;
}

thead tr th {
  background-color: rgb(18, 18, 18);
  margin: 0;
  padding: 8px;
}
